# Application Settings
PORT=3001

# MongoDB Connection String (Replace <username> and <password> with real credentials)
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/app_database?retryWrites=true&w=majority
